* {
    margin: 0;
    padding: 0;
    color: #2D2D2B;
    font-family: Arial, Helvetica, sans-serif;
}


/* PÁGINA HOME */

a, li {
    text-decoration: none;
    list-style-type: none;
}

.header li {
    display: flex;
    
}

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: white;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.logo {
    width: 120px;
    height: auto;
    margin-left: 2%;
}

.pesquisar {
    width: 25px;
    height: auto;
    margin-right: 2%;
}

.paginas-link {
    display: flex;
    justify-content: center;
    margin-right: 5%;
    text-transform: lowercase;
    font-size: 14px;
    color: #2D2D2B;
}

.container-2-i {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.image-1-2, .image-2-2 {
    width: 50%;
    height: auto;
}

.explore {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
}

.textinho-explore, .paginas-textinho {
    text-align: center;
    padding: 20px 16px;
    transition: 0.3s;
    
}

.paginas-textinho:hover {
    transition: 0.3s;
    background-color: #f7f7f7;
}

.bloco-home {
    display: flex;
    flex-direction: row;
}

.imagem-bloco-home {
    width: 100%;
    height: auto;
    transition: 0.4s;
    cursor: pointer;
}

.imagem-bloco-home:hover, .imagem-bloco-produto:hover {
    transition: 0.5s;
    opacity: 70%;
}

.imagem-principal-p {
    width: 100%;
    height: auto;
}


/* PÁGINA DE PRODUTOS */

.imagem-principal-p {
    margin-top: 60px;
}

.container-c-p {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    padding: 20px 0;
}

.texto-s-p {
    font-size: 14px;
    margin-right: 10px;
    color: #2D2D2B;
}

.quantidade-produto {
    font-size: 14px;
    color: #000000;
    opacity: 35%;
}

.linha-p {
    position: absolute;
    width: 95%;
    height: 1px;
    margin-left: 2%;
    background: #000000;
    opacity: 15%;
}

.container-imagem {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-left: 2%;
    margin-top: 3%;
}

.imagem-bloco-produto {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.button-adicionar-retirar {
    width: 300px;
    height: 40px;
    background-color: #333333;
    border-radius: 50px;
    color: white;
    border: none;
    margin-bottom: 50px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.button-adicionar-retirar:hover {
    background-color: white;
    border: 1px solid #000000;
    color: #000000;
    transition: 0.5;
    transform: scale(1.03);
}

.info-produto-nome {
    margin-top: 10px;
    margin-left: 1px;
}

.info-produto-preco {
    color: #999999;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
}


/* PÁGINA DE OFERTA */

.preco-desconto {
    display: flex;
    flex-direction: row;
}

.info-produto-preco-oferta {
    color: #999999;
    font-size: 13px;
    text-decoration-line: line-through;
}

.info-produto-preco-desconto {
    color: #FE6F66;
    font-weight: 550; 
    font-size: 14px; 
    margin-left: 5px;
    font-size: 15px; 
}


/* FOOTER */

.footer {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 5% 0 5% 3%;
    color: #333333;
}

.container-f {
    margin-right: 2%;
    margin-top: 6%;
}

.titulos-container {
    letter-spacing: 0.07em;
    font-size: 16px;
}

.texto-conteudo {
    font-size: 12px;
    letter-spacing: 0.08em;
    margin: 15px 0;
}

.titulos-container:hover, .texto-conteudo:hover {
    text-decoration-line: underline;
}

.linha-f {
    position: absolute;
    width: 95%;
    height: 1px;
    background: #000000;
    opacity: 10%;
}

.redes {
    margin-top: 70px;
    width: 40%;
    height: auto;
}


/* RESPONSIVIDADE */
@media screen and (min-width: 600px) and (max-width: 1024px) {

    .container-imagem {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
   
    .container-imagem {
        grid-template-columns: repeat(1, 1fr);
    }

    .bloco-home {
        flex-direction: column;
    }

    .footer {
        display: flex;
        flex-direction: column;
        margin-left: 20%;

    }
}